/BTS.API.ENTITY/bin
/BTS.API.ENTITY/obj
/BTS.API.SERVICE/bin
/BTS.API.SERVICE/obj
/BTS.SP.API/bin
/BTS.SP.API/obj
/BTS.SP.INTERNET/bin
/BTS.SP.INTERNET/obj
/BTS.SP.API/BTS.SP.API.csproj.user
/BTS.SP.API/Web.config
/BTS.SP.INTERNET/BTS.SP.INTERNET.csproj.user
/.vs
